/* Colors */
$mich-back: #e5e5e5;
$mich-yellow: #ffcb05;
$mich-blue: #00274c;
$mich-stone: #655a52;
$mich-light: #587abc;
/*Fonts*/

/*Mixins */

body{
	background-color: $mich-back;
	width: 100%;
	margin: auto;
}

header{		
	width: 100%;
	background-color: $mich-blue;
	height: 80px;
	position: absolute;
		#logo{
		z-index: 2;
		position: absolute;
		left:20%;		
		background-color: $mich-stone;
		width:200px;
		height:110px;
		padding-left: 12px;
		padding-right: 12px;	

		#cig{
			width: 200px;
		}
	}
	#menu{
		ul{

			li{
				display: inline;
				list-style-type: none;
			}
		}
	}
}

.main{
	$content-width: 960px;
	width:$content-width;
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	width: 10px;	
	}
	background-color:$mich-light;
	margin:auto;
	height: 1000px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
}
